.Astronomy {
    list-style: none;
    height: 60px;
    margin: 0 20px;
    line-height: 42px;
    display: inline-flex;
    width: 84%;
}

.Astronomy div {
    width: 50%;
    color: black;
    padding-top: 4%;
    font-size: 1.2rem;
    display: inline-flex;
}

.Astronomy div:nth-child(2){
    padding-left: 10%;
}

.AstronomyWrap ul{
    margin: 0;
    padding: 0;
}